.header {
    text-align: center;
    color: rgb(0, 190, 0);
}
.card-header { 
    text-align: center;
    color: rgb(0, 190, 0);
}
.card-desc {
    text-align: center;
    color: rgb(0, 190, 0);
}
.card-img {
    align-items: center;
    height: 600px;
    display: block;
    margin: 0 auto;
}
.blog1{
    margin-bottom: 250px;
}

body{
    background-color: bisque;
        font-family: "SUSE", sans-serif;
}

